<div class="carousel-caption">
    <a href="/download/" class="btn btn-primary btn-lg px-4 me-md-2 mb-3">
        <i class="fa-solid fa-download text-decoration-none"></i> Download 4.1</a>
    <a href="{{ site.github-url }}" class="btn btn-primary btn-lg px-4 me-md-2 mb-3">
        <i class="fa-brands fa-github text-decoration-none"></i> Source Code (MIT)
    </a>
    <a href="{{ site.open-collective-url }}" class="btn btn-info btn-lg px-4 me-md-2 d-inline-flex align-items-center mb-3">
        {% include svg-icons.html type='open-collective' size=20 %}&nbsp;Donate to our Collective
    </a>
</div>