<!doctype html>
<html lang="en" class="h-100">
{% include head %}
<body class="bg-dark d-flex flex-column min-vh-100">
  <!-- Google Tag Manager (noscript) -->
  <!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHN3F8B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
  <!-- End Google Tag Manager (noscript) -->
  {% include header2 %}
  {% include test.html %}
  {% include test.html %}
  {{ content }}
  {% include test.html %}
  <script src="{{ site.baseurl}}/scripts/_scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
