{% comment %} Used in blog-aside.html and header.html {% endcomment %}
<form action="/search.html" method="get">
    <input name="search_paths[]" type="hidden" value="/en">
    <div class="mb-3">
        <input class="form-control" id="{{include.id}}" name="query" type="text" value="" autofocus tabindex="0">
    </div>
    <button class="btn btn-primary" name="submit" type="submit" value="Search">Search</button>
</form>